body {
    font-family: sans-serif;
    padding: 30px;
}

#maze-gui {
    display: flex;
    flex-wrap: wrap;
}

#menu {
    display: grid;
    grid-template-columns: 60px auto;
    grid-auto-rows: 20px;
    row-gap: 20px;
    padding: 0 20px 0 20px;
    flex: 1;
    margin-bottom: 20px;
}

#menu label {
    font-weight: bold;
}

#start-game-btn, #solve-game-btn, #save-game-btn, #load-game-btn {
    grid-column: 2;
}

#win-message {
    grid-column: 1 / span 2;
    text-align: center;
    background-color: skyblue;
    min-height: 200px;
    border: 5px outset gold;
}

#maze {
    flex: 6;
    padding-left: 50px;
}

.cell {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.separator-stair {
    /* height: 40px; */ /* NOTE: Not used for the moment */
}

.separator-row {
    margin-top: -10px;
}


.maze-stair {
    transition: all 0.5s;
    transform: perspective(75em) rotateX(60deg);
    box-shadow: rgba(20, 29, 37, 0.45) 0px 50px 120px -25px,
        rgba(17, 24, 30, 0.1) 0px 30px 70px -30px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(210, 220, 220) rgb(210, 220, 220) rgb(180, 190, 200);
    margin-top: -3em;
}

.maze-stair#current-player-stair {
    transition: all 0.5s;
    transform: none;
    margin-top: -1em;
    margin-bottom: 20px;
}